# Local API
PORT=3000
PUBLIC_BASE_URL=http://localhost:3000
ADMIN_BOOTSTRAP_TOKEN=change-me-local-admin-token
DATA_FILE=./data/dev-db.json

# Telegram Gateway
# Get this in Telegram Gateway account settings.
TELEGRAM_GATEWAY_TOKEN=
TELEGRAM_GATEWAY_CALLBACK_URL=

# Platega
PLATEGA_BASE_URL=https://app.platega.io/
PLATEGA_MERCHANT_ID=
PLATEGA_SECRET=
PLATEGA_RETURN_URL=http://localhost:3000/billing/success
PLATEGA_FAILED_URL=http://localhost:3000/billing/fail
